@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(213, 213, 213, 0.688);
}
body::-webkit-scrollbar-thumb {
  background-color: #fd10be;
  border-radius: 6px;
  border: 3px solid #fd10be;
}

.servicesSection {
  background-image: url('https://kota.co.uk/static/d0512169eb4329f15ed9ff6ac9f6044b/7f800/gradient-bg-services.webp');
  background-position: center;
  background-size: cover;
}
.navbarHeight {
  height: 0px;
}

.navbarHeightFull {
  height: 100vh;
}

.navproperties {
}
